<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!-- Permitimos lectura de datos desde archivo externo -->
<context:property-placeholder location="classpath:datosEmpresa.properties"/>

<!-- Creación de la dependencia -->
<bean id="miInforme" class="es.aprendizajes.di.Informe"> </bean>

<!-- Ejemplo de inyección de la dependencia a través de constructor -->
<bean id="miJefe" class="es.aprendizajes.di.Jefe">
<!-- Inyección de la dependencia -->
<constructor-arg ref="miInforme"></constructor-arg>
<!-- Dar valores por defecto a propiedades -->
<property name="nombreEmpresa" value="${nombreEmpresa}"></property> <!-- usamos propiedad definida en archivo externo -->
<property name="email" value="jefe@pepitocompany.com"></property>
</bean>

<!-- Ejemplo de inyección de dependencias a través de un setter -->
<bean id="miSecretario" class="es.aprendizajes.di.Secretario">
<!-- Inyección de la dependencia -->
<property name="informeNuevo" ref="miInforme"></property>
<!-- Dar valores por defecto a propiedades -->
<property name="nombreEmpresa" value="${nombreEmpresa}"></property> <!-- usamos propiedad definida en archivo externo -->
<property name="email" value="secretario@pepitocompany.com"></property>
</bean>

</beans>